<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Aspire Challenge Suite">
  <listeners>
    <listener class-name="utils.ReportListener"/>
  </listeners>
  <test name="Aspire Challenge Tests">
    <classes>
      <class name="tests.TC_01_Login"/>
      <class name="tests.TC_02_Product"/>
      <class name="tests.TC_03_Manufacturing"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
